@CHARSET "UTF-8";


table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

input[type=text] {
width:250px;
}

textarea{
width:250px;
height: 300px;
}

.error{
 font-size: small;
 color: red;
 
}
